body {
   width: 900px;
   margin: auto;
}

#navMidDiv img,
#navRightDiv img {
   width: 30px;
}

nav {
   width: 860px;
   padding: 20px 20px 5px 40px;
   height: 70px;

}
#iconsDiv{
   float: left;
}
#navMidDiv {
   float: right;
}


h1,
h3 {
   display: block;
}
h2{
   margin-bottom: 0px;
}
#firstpara{
   margin-top: 0px;
}
#description {
   font-size: small;
}



#writtenLogo {
   width: 110px;
   height: 47px;
   padding: 0;
   margin: 0;
}

#navRightDiv {
   margin-right: 0px;
   width: fit-content;
}

#navLefttDiv {
   margin-top: 10px;
   margin-right: 0px;
   width: fit-content;
}



#iconImage {
   width: 45px;
   padding: 0px;
   margin: 0px;
}

#borderImg {
   margin: 10px 20px 10px 20px;
}

.righIcons {
   margin-right: 7px;
}

#divider {
   background-image: repeating-linear-gradient(45deg, gray, white 1px, gray 1px, white 1px);
   margin-top: 30px;
   width: 100%;
   height: 20px;
   margin-bottom: 27px;
}

#paraTitleDiv {
   display: block;
}

#listSection {
   background-image: url(../assets/list-bg.png);
   height: 300px;
}

ul {
   font-size: 25px;
   list-style-type: none;

}

#rightUl {

   float: right;
   margin-right: 22px;
}

#leftUl {
   float: left;
   margin-left: 35px;

}

#footerPara {
   text-align: center;
   width: 100%;
}

#footerLogo {
   display: block;
   margin-left: auto;
   margin-right: auto;
}

#footer {
   align-content: center;
   margin-top: 100px;
}

#button {
   background-color: darkred;
    height: 60px;
    color: white;
    font-weight: bold;
    margin-left: 20px;
    float: right
}
#commentsImage{
   width: 110px;
   float: left;
   margin-right: 19px;
}
b{
   font-size: 21px;
}
